body {
	background-color:black;
}

#gameBoard {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width:600px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
}

#gameBoard div {
	background-color:grey;
	background-repeat:no-repeat;
	background-size:cover;
}

.saber {
	background-image:url("images/lightSaber.png");
}

.flag {
	background-image:url("images/Flag.png");
}

.gonkDown {
	background-image:url("images/GonkDown.png");
}

.bomb {
	background-image:url("images/bomb.png");
}

.jediUp {
	background-image:url("images/JediUp.png");
}

.jediDown {
	background-image:url("images/JediDown.png");
}

.jediLeft {
	background-image:url("images/JediLeft.png");
}

.jediRight {
	background-image:url("images/JediRight.png");
}

.jediUpSaber {
	background-image:url("images/SaberJediUp.png");
}

.jediDownSaber {
	background-image:url("images/SaberJediDown.png");
}

.jediLeftSaber {
	background-image:url("images/SaberJediLeft.png");
}

.jediRightSaber {
	background-image:url("images/SaberJediRight.png");
}

.jump {
    background-image: url("images/jump.png");
}
.jumpUp {
	background-image:url("images/JumpUp.png");
}

.jumpDown {
	background-image:url("images/JumpDown.png");
}

.jumpLeft {
	background-image:url("images/JumpLeft.png");
}

.jumpRight {
	background-image:url("images/JumpRight.png");
}

.trooperUp {
	background-image:url("images/trooperUp.png");
}

.trooperDown {
	background-image:url("images/trooperDown.png");
}

.trooperLeft {
	background-image:url("images/trooperLeft.png");
}

.trooperRight {
	background-image:url("images/trooperRight.png");
}

.bridge {
    border-bottom: 20px solid black !important;
}

.pit {
	background-image:url("images/Pit.png");
}

.post {
	background-image:url("images/Post.png");
}

.message {
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	color:yellow;
	font-family: 'Yusei Magic', sans-serif;
	font-size:8em;
	vertical-align:top;
	text-align:center;
	line-height:100vh;
}




